* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    background: url('hero3.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-box p {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #fca311;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
}

.footer {
    margin-top: 10px;
}

.footer a {
    color: #fca311;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
